<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>

    <form action="/chat">
        <div>
            <label for="">Enter your username:</label>
            <input type="text" class="text" name="username">
        </div>

        <div>
            <label for="">Enter room id:</label>
            <input type="text" class="text" name="room">
        </div>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>